.select-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.select-input {
  padding: 0.5rem 0.5rem;
  width: 90%;
  display: block;
}

.select-input-label {
  font: 400 1.2rem 'Roboto';
  margin: 0.6rem auto;
  display: block;
}
