.flux-content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.flux-content form {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0;
}

.main-title {
  width: 70%;
}

.flux-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
  border-bottom: 2px solid black;
}

@media screen and (min-width: 1024px) {
  .flux-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    grid-template-areas:
      'title title'
      'flux flux';
  }

  .flux-section {
    border: none;
    align-items: center;
    grid-area: flux;
  }

  .flux-content form {
    display: grid;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    grid-template-areas: '. date .' 'value category button';
    justify-items: stretch;
    align-items: center;
  }

  .entry-value {
    grid-area: value;
  }

  .entries-date {
    grid-area: date;
  }

  .entry-category {
    grid-area: category;
  }

  .submit-button {
    grid-area: button;
  }

  .main-title {
    grid-area: title;
  }
}
