.flux-content {
  display: flex;
  flex-flow: column wrap;
}
.flux-content form {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 0;
}

.main-title {
  width: 70%;
}

.flux-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  /*   .flux-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    grid-template-areas:
      'title title'
      'flux flux';
  } */

  .flux-content {
    width: 100%;
  }

  .flux-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    grid-template-areas: 'form table';
  }

  .flux-content form {
    grid-area: form;
    width: 100%;
    justify-content: flex-start;
    align-items: stretch;
  }

  .flux-section .submit-button {
    width: 50%;
    margin: 1.2rem auto;
  }

  .flux-section table {
    grid-area: table;
    width: 100%;
  }
}
